# Assignment 2

**범위**

- 3.1 Function
- 3.2 Class

# Q1. 세 가지 입력을 가지는 함수(`add_values`)를 작성하시오. 단, 두 개의 파라미터는 기본값으로 각각 1과 2로 설정하시오.

**Example**

```python
print(add_values(1,2,3))
>> 6

print(add_values(1))
>> 4
```

In [1]:
def add_values(a, b=1, c=2):
    return a + b + c

print(add_values(1, 2, 3))
print(add_values(1))

6
4

# Q2. 정수 n을 입력 받아 n이 -2와 5 사이에 있는 값인지 확인하고, 해당 범위 내에 있는 경우 True, 아닌 경우 False를 출력하는 함수(`check_range`)를 작성하시오.

**Example**

```python
print(check_range(n=3))
>> True

print(check_range(n=10))
>> False

```

In [2]:
def check_range(n):
    return -2 < n < 5

print(check_range(n=3))
print(check_range(n=10))

True
False

# Q3. 리스트를 입력 받아 리스트 내부의 모든 값의 곱을 반환하는 함수(`product_values`)를 작성하시오.

**Example**

```python
a = [1,2,3]
v = product_values(a)

print(v)
>> 6
```

In [3]:
def product_values(l):
    result = 1
    for x in l:
        result *= x
    return result

a = [1, 2, 3]
v = product_values(a)
print(v)

6

# Q4. 리스트를 입력 받아 입력 받은 리스트 중 짝수만 list 형으로 반환하는 함수(`get_even`)를 작성하시오.

**Example**

```python
print(get_even([0,1,2,3,4]))
>> [0,2,4]
```

In [4]:
def get_even(l):
    result = []
    for x in l:
        if x % 2 == 0:
            result.append(x)
    return result

print(get_even([0, 1, 2, 3, 4]))

[0, 2, 4]

# Q5. 두 수의 사칙연산을 표현하는 문자열을 입력 받아서 연산 결과를 반환하는 함수(`calc`)을 작성하시오.

- 이때, 두 수는 모두 정수

**Example**
```python
print(calc('1+2')) # 더하기
>> 3

print(calc('1-2')) # 빼기
>> -1

print(calc('2x3')) # 곱하기
>> 6

print(calc('3/2')) # 나누기
>> 1.5

```

In [5]:
def calc(s):

    if '+' in s:
        a, b = s.split('+')
        return int(a) + int(b)
    elif '-' in s:
        a, b = s.split('-')
        return int(a) - int(b)
    elif 'x' in s:
        a, b = s.split('x')
        return int(a) * int(b)
    elif '/' in s:
        a, b = s.split('/')
        return int(a) / int(b)

print(calc('1+2'))
print(calc('1-2'))
print(calc('2x3'))
print(calc('3/2'))

3
-1
6
1.5

# Q6. Hypen(-)으로 구분되어 있는 str을 입력 받아 각 단어를 오름차순으로 정렬하는 함수(`sort_str`)를 작성하시오.

**Example**

```python
name = 'Data-Science-and-Business-Analytics'
print(sort_str(name))
>> ['Analytics', 'Business', 'Data', 'Science', 'and']

```

In [6]:
def sort_str(s):
    return sorted(s.split('-'))

name = 'Data-Science-and-Business-Analytics'
print(sort_str(name))

['Analytics', 'Business', 'Data', 'Science', 'and']

# Q7. str 타입을 입력 받아 숫자인 경우 정수와 실수를 판단하여 변환한 후 반환하는 함수(`convert_input`)를 작성하시오.

**Example**

```python
a = 'text'
print(convert_input(a))
>> 'text'

a = '223'
print(convert_input(a))
>> 223

a = '223.1234'
print(convert_input(a))
>> 223.1234

a = '0223'
print(convert_input(a))
>> '0223'
```

In [7]:
def convert_input(s):
    if s.isdigit():
        if s[0] == '0' and len(s) > 1:
            return s
        return int(s)
    try:
        return float(s)
    except ValueError:
        return s

a = 'text'
print(convert_input(a))

a = '223'
print(convert_input(a))

a = '223.1234'
print(convert_input(a))

a = '0223'
print(convert_input(a))

text
223
223.1234
0223

# Q8. Iterable array를 입력으로 받아서 모든 원소를 더하는 함수(`all_add`)를 작성하시오.

**Example**

```python
print(all_add(1,2))
>> 3

print(all_add(1,2,3,4))
>> 10
```

In [8]:
def all_add(*args):
    result = 0
    for x in args:
        result += x
    return result

print(all_add(1, 2))
print(all_add(1, 2, 3, 4))

3
10

# Q9. str 타입을 입력 받아 문자열 변수의 대문자 character 개수와 소문자 character 개수를 count하고 반환하는 함수(`count_upper_lower_char`)를 작성하시오.

**Example**

```python
print(count_upper_lower_char('Data Science'))
>> Uppercase: 2, Lowercase: 9
```

In [9]:
def count_upper_lower_char(s):
    upper = 0
    lower = 0
    for ch in s:
        if ch.isupper():
            upper += 1
        elif ch.islower():
            lower += 1
    return f"Uppercase: {upper}, Lowercase: {lower}"

print(count_upper_lower_char('Data Science'))

Uppercase: 2, Lowercase: 9

# Q10. 리스트를 입력 받아 리스트에 속한 value들 중 unique한 value만 list 형으로 반환하는 함수(`get_unique`)를 작성하시오.

**Example**

```python
print(get_unique(['A','A','B','C','D','D'])
>> ['B','C']
```

In [10]:
def get_unique(l):
    result = []
    for x in l:
        if l.count(x) == 1:
            result.append(x)
    return result

print(get_unique(['A','A','B','C','D','D']))

['B', 'C']

# Q11. 아래 내용에 맞추어 사각형 넓이와 둘레를 구하는 class(`Rectangle`)을 작성하시오.


- class 초기값 설정
  - class 변수 `height`와 `width`을 위한 입력값을 받아올 수 있도록 파라미터 설정
- 사각형의 넓이를 반환하기 위한 method(`calc_area`) 생성
- 사각형의 둘레를 반환하기 위한 method(`calc_perimeter`) 생성

**Example**

```
rec = Rectangle(height=3, width=5)
print(rec.calc_area())
>> 15

print(rec.calc_perimeter())
>> 16
```

In [11]:
class Rectangle:
    def __init__(self, height, width):
        self.height = height
        self.width = width

    def calc_area(self):
        return self.height * self.width

    def calc_perimeter(self):
        return 2 * (self.height + self.width)

rec = Rectangle(height=3, width=5)
print(rec.calc_area())
print(rec.calc_perimeter())

15
16

# Q12. 아래 내용에 맞추어 계좌 class(`BankAccount`)와 `BankAccount`를 상속받는 class(`SavingAccount`)를 작성하시오.

**BankAccount**

- class 변수 정의
  1. 계좌 주인을 나타내는 class 변수(`owner`) 정의
  2. 계좌 잔고를 나타내는 class 변수(`balance`) 정의
  - 두 변수의 입력 값을 받아올 파라미터로 `owner`와 `initial_balance` 사용

- 계좌 잔고에 금액을 입금하기 위한 method(`deposit`) 생성
- 계좌 잔고에서 출금하기 위한 method(`withdraw`) 생성
  - 만약 출금하고자 하는 금액이 계좌 잔고보다 많은 경우 "잔액 부족" 출력
- 현재 계좌 잔고를 반환하는 method(`get_balance`) 생성


**SavingAccount**

- class 변수 정의
  1. 이자율을 나타내는 class 변수(`interest_rate`) 정의
  - 이자율의 입력 값을 받아올 파라미터로 `interest_rate` 사용

- 현재 잔고에 이자율을 곱한 값을 잔액에 추가하는 method(`add_interest`) 생성


**Example**

```python
account1 = BankAccount("이재옹", 1000)
account1.deposit(500)
account1.withdraw(200)
print("잔액:", account1.get_balance())
>> 잔액: 1300

# SavingsAccount 클래스 사용 예시
account2 = SavingsAccount("이제용", 2000, 0.05)
account2.add_interest()
print("잔액:", account2.get_balance())
>> 잔액: 2100.0
```

In [12]:
class BankAccount:
    def __init__(self, owner, initial_balance):
        self.owner = owner
        self.balance = initial_balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount > self.balance:
            print("잔액 부족")
        else:
            self.balance -= amount

    def get_balance(self):
        return self.balance

class SavingsAccount(BankAccount):
    def __init__(self, owner, initial_balance, interest_rate):
        super().__init__(owner, initial_balance)
        self.interest_rate = interest_rate

    def add_interest(self):
        self.balance += self.balance * self.interest_rate


account1 = BankAccount("이재옹", 1000)
account1.deposit(500)
account1.withdraw(200)
print("잔액:", account1.get_balance())

account2 = SavingsAccount("이제용", 2000, 0.05)
account2.add_interest()
print("잔액:", account2.get_balance())

잔액: 1300
잔액: 2100.0

# Q13. 아래 내용에 맞추어 계산기 기능을 하는 class(`Calculator`)를 작성하시오.

- class 변수 정의
  1. 계산 결과를 나타내는 class 변수(`value`)를 초기값 0으로 지정
  2. 계산 상태를 나타내는 class 변수(`stack`)를 초기값 False로 지정
- class 변수(`value`)와 입력 숫자의 사칙연산을 반환하는 methods(`_add`, `_minus`, `_multiply`, `_divide`) 작성.
  - 사칙연산 method는 하나의 수만 입력으로 받음
- 두 수의 사칙연산을 표현하는 문자열을 계산하기 위한 method(`calc`) 생성
  - 첫, 계산을 실행한 경우 class 변수(`stack`)을 True로 변경
  - 누적해서 추가 계산을 하는 경우 연산기호와 숫자만 입력어야함.
  - 만약, 이전 계산 결과가 있는 상태에서 두 수의 사칙연산을 표현하는 문자열로 입력하는 경우 'error' 메세지 출력.

- 계산 결과를 초기화 하는 method(`clear`) 생성
  - class 변수(`value`)를 0으로 재설정
  - class 변수(`stack`)를 False로 재설정

**Example**

```python
calculrator = Calculrator()
calculrator.calc('2+3')
>> '2 + 3 = 5'

calculrator.calc('/5')
>> '5 / 5 = 1'

calculrator.clear()
print(calculrator.value)
>> 0
```

In [16]:
class Calculator:
    def __init__(self):
        self.value = 0
        self.stack = False

    def calc(self, expr):
        if not self.stack:
            for op in ['+', '-', 'x', '/']:
                if op in expr:
                    a, b = expr.split(op)
                    a, b = int(a), int(b)
                    if op == '+': self.value = a + b
                    elif op == '-': self.value = a - b
                    elif op == 'x': self.value = a * b
                    elif op == '/': self.value = a / b
                    self.stack = True
                    return f"{a} {op} {b} = {self.value}"
        else:
            op, num = expr[0], int(expr[1:])
            if len(expr) == 1: return "error"
            old = self.value
            if op == '+': self.value += num
            elif op == '-': self.value -= num
            elif op == 'x': self.value *= num
            elif op == '/': self.value /= num
            else: return "error"
            return f"{old} {op} {num} = {self.value}"

    def clear(self):
        self.value, self.stack = 0, False

calculator = Calculator()
calculator.calc('2+3')

'2 + 3 = 5'

In [17]:
calculator.calc('/5')

'5 / 5 = 1.0'

In [18]:
calculator.clear()
print(calculator.value)

0