# Create a Class

```python
class ClassName:
    def __init__(self):
        pass
    
    def func_name(self):
        pass

obj = ClassName()
```

- Python은 객체(object)지향형 언어.
- Python에서 사용하는 거의 대부분은 object임.
- class를 통해 object를 지정한 후 정의한 함수를 사용하기 위해서는 첫 인자로 `self`를 작성해야함.

**Example**
- `class`: 과자를 담아내는 틀
- `object`: class로 만들어진 과자

**Class Name Convention**

- class 이름은 주로 CapWords convention을 따름. [ [PEP 8 - Class name](https://peps.python.org/pep-0008/#class-names) ]
- 첫 글자는 항상 대문자로 시작하며 단어를 구분할 때도 마찬가지로 대문자로 시작하여 구분.
- ex) ClassName, MyClass, DataLoader, ...

In [26]:
class Temp:
    x = 5

# Create objects

아래 예시에서 `c_ex`는 object이자 `Temp` class의 instance 임

In [27]:
c_ex = Temp()
print('c_ex.x: ',c_ex.x)

c_ex.x:  5

In [28]:
c1 = Temp()
c2 = Temp()

print('id(c1): ', id(c1))
print('id(c2): ', id(c2))

id(c1):  138281463576384
id(c2):  138281463862704

# `__init__()` function

- 앞서 작성한 `Temp`라는 class는 간단히 작성한 예시임.
- 그러나 실제로 class의 초기값을 지정할 때는 `__init__`을 사용하는 것이 일반적임.

In [29]:
class Temp:
    def __init__(self):
        self.x = 5

c_ex = Temp()
print('c_ex.x: ',c_ex.x)

c_ex.x:  5

In [30]:
class Temp:
    def __init__(self, x = 5):
        self.x = x

c_ex = Temp()
print('c_ex.x: ',c_ex.x)

c_ex.x:  5

In [31]:
c_ex = Temp(x=10)
print('c_ex.x: ',c_ex.x)

c_ex.x:  10

# Object methods

- class 내에서 함수를 정의할 수 있음.
- class 내에서 정의된 함수를 `method`라고함
- 단, class로 생성한 object에서 함수를 사용할 때 첫 번째 인자로 `self` 작성해야 함.

In [32]:
class WhoAmI:
    def __init__(self, name):
        self.name = name

    def introduce_myself(self):
        print(f'My name is {self.name}')

In [33]:
person = WhoAmI(name='Seonho Yoo')
person.introduce_myself()

My name is Seonho Yoo

# `self`?

- `self`란 instance를 의미함.
- 반드시 self라고 작성해야 하는 것은 아니나 관습에 따라 self로 작성하는 것이 일반적임.

In [34]:
class Temp:
    def func1(self):
        print('id(self): ',id(self))
        print('func 1')


    def func2():
        print('func 2')

In [35]:
c = Temp()

print('id(c): ',id(c))
c.func1()

id(c):  138281453900704
id(self):  138281453900704
func 1

In [36]:
c2 = Temp()

print('id(c2): ',id(c2))
c2.func1()

id(c2):  138281464635872
id(self):  138281464635872
func 1

In [37]:
# instance를 받아 올 self가 지정되어 있지 않기 때문에 오류
c.func2()

TypeError: Temp.func2() takes 0 positional arguments but 1 was given

In [38]:
Temp.func2()

func 2

# Modify object properties

- class에서 정의한 변수 또한 변경 가능

In [39]:
class WhoAmI:
    def __init__(self, name):
        self.name = name

    def introduce_myself(self):
        print(f'My name is {self.name}')

In [40]:
person = WhoAmI(name='Seonho Yoo')
person.introduce_myself()

My name is Seonho Yoo

In [41]:
person.name = 'Jaejune Jeong'
person.introduce_myself()

My name is Jaejune Jeong

# Delete object properties

- 마찬가지로 `del`을 통해 class 내에서 정의한 변수를 삭제할 수 있음

In [42]:
person.introduce_myself()

My name is Jaejune Jeong

In [43]:
del person.name

In [44]:
person.introduce_myself()

AttributeError: 'WhoAmI' object has no attribute 'name'

# Inheritance

- class는 다른 class에 상속(inheritance)하여 사용할 수 있음.
- Python에서 상속은 class를 활용하는 핵심 개념임.
- 기준이 되는 class를 구성한 후 상속하여 사용하면 효율적이고 확장성있게 코드를 작성할 수 있음

**Example**
```python
class A:
    def __init__(self):
        self.x = 10

class B(A):
    def __init__(self):
        super().__init__()
```

- class 상속을 위해서는 위 예시와 같이 class 이름 옆에 상속하고자 하는 class의 이름을 작성하여야 함.
- 상속할 class의 속성을 받아오기 위해서는 `super`를 사용하여야 함.

## Create a Parent Class

In [45]:
class A:
    def __init__(self):
        self.x = 10

a = A()
a.x

10

## Create a Child Class

In [46]:
class B(A):
    def __init__(self):
        super().__init__()

b = B()
b.x

10

In [47]:
# 만약 super를 사용하지 않으면 상속한 class의 속성을 사용할 수 없음
class B(A):
    def __init__(self):
        pass

b = B()
b.x

AttributeError: 'B' object has no attribute 'x'

## Example 1

- class 상속은 상속한 class의 method도 같이 받아올 수 있음.
- 또한, 새롭게 method를 정의하여 사용할 수 있음.

In [48]:
class A:
    def __init__(self):
        self.x = 10

    def add_1(self):
        self.x += 1

class B(A):
    def __init__(self):
        super().__init__()

    def minus_2(self):
        self.x -= 2

b = B()
b.x

10

In [49]:
b.add_1()
b.x

11

In [50]:
b.minus_2()
b.x

9

## Example 2

1. `ClassInfo`: 수강학생들에 대한 정보를 기입하기 위한 class를 생성.
2. `{class name}`: `ClassInfo`를 상속받아서 수업 정보와 수강한 학생들 정보를 작성

In [51]:
class ClassInfo:
    def __init__(self, prof_name: str, class_name: str):
        '''
        Args:
        - prof_name(str): professor's name
        - class_name(str): class name
        '''
        self.prof_name = prof_name
        self.class_name = class_name
        self.students = {}

    def class_info(self):
        print(f'\n[Class: {self.class_name}]')
        print(f"Professor's name is {self.prof_name}")
        print(f'Number of students is {len(self.students)}')

    def student_list(self):
        print(f'\n[Total student: {len(self.students)}]')
        for k in self.students.keys():
            print(k)

    def update_student_info(
        self, name: str, major: str,
        f_food: str, f_place: str, f_restaurant: str, interest: list):

        '''
        Update student's information

        Args:
        - name(str): student's name
        - major(str): student's major
        - f_food(str): favorite food
        - f_place(str): favorite place
        - f_restaurant(str): favorite restaurant
        - interest(list): things student might be interested in
        '''

        if name in self.students:
            print('This student is already enrolled.')
        else:
            info = {
                name : {
                    'major': major,
                    'f_food': f_food,
                    'f_place': f_place,
                    'f_restaurant': f_restaurant,
                    'interest': interest
                }
            }

            self.students.update(info)

    def find_student(self, name):
        '''
        Find student's information

        Args:
        - name(str): student's name
        '''
        print(f'\n[Student: {name}]')
        for k, v in self.students[name].items():
          print(f'{k}: {v}')

In [52]:
class YoutubeClass(ClassInfo):
    def __init__(self, prof_name: str, class_name: str):
        '''
        Args:
        - prof_name(str): professor's name
        - class_name(str): class name
        '''
        super().__init__(prof_name=prof_name, class_name=class_name)


class TwitchClass(ClassInfo):
    def __init__(self, prof_name: str, class_name: str):
        '''
        Args:
        - prof_name(str): professor's name
        - class_name(str): class name
        '''
        super().__init__(prof_name=prof_name, class_name=class_name)

In [53]:
youtube_class = YoutubeClass(prof_name='곽준빈', class_name='youtube')
twitch_class = TwitchClass(prof_name='침착맨', class_name='twitch')

---
Youtube Class

---

In [54]:
youtube_class.class_info()

[Class: youtube]
Professor's name is 곽준빈
Number of students is 0

In [55]:
youtube_class.update_student_info(
    name = '유선호',
    major = '산업경영공학',
    f_food = '김치찌개',
    f_place = '개운산',
    f_restaurant = '전주 외할머니댁',
    interest = ['졸업 언제하지','커서 뭐하지','오늘 저녁은 뭐먹지']
)

In [56]:
youtube_class.class_info()

[Class: youtube]
Professor's name is 곽준빈
Number of students is 1

In [57]:
youtube_class.find_student(name='유선호')

[Student: 유선호]
major: 산업경영공학
f_food: 김치찌개
f_place: 개운산
f_restaurant: 전주 외할머니댁
interest: ['졸업 언제하지', '커서 뭐하지', '오늘 저녁은 뭐먹지']

In [58]:
youtube_class.update_student_info(
    name = '유선호',
    major = '산업경영공학',
    f_food = '김치찌개',
    f_place = '개운산',
    f_restaurant = '전주 외할머니댁',
    interest = ['졸업 언제하지','커서 뭐하지','오늘 저녁은 뭐먹지']
)

This student is already enrolled.

In [59]:
youtube_class.student_list()

[Total student: 1]
유선호

---
Twich Class

---

In [60]:
twitch_class.class_info()

[Class: twitch]
Professor's name is 침착맨
Number of students is 0