# __* 파이썬 기초문__

# 1. 주석
- 코드 내에 하는 메모로 파일 실행시 프로그램에서 읽지 않는 부분

In [ ]:
#샵을 적은 후에 한 칸 띄우고 글을 적으면 주석이 된다
print('이 줄은 프린트가 되지만')
# print('이 줄은 프린트가 되지 않는다')

이 줄은 프린트가 되지만

# 2. 변수
- 파이썬에서는 '='를 통하여 변수에 원하는 값을 할당할 수 있음

In [ ]:
a = 3
a

3

In [ ]:
a, b = 3, 2 # 쉼표를 이용해 여러 개의 변수를 한 번에 할당할 수 있다.
a, b

(3, 2)

In [ ]:
a = b = c = 1
a, b, c

(1, 1, 1)

- 변수에 할당된 값이 있는 경우에 새로운 값을 할당하면 새로운 값만 남음

In [ ]:
a

1

In [ ]:
a = 7
a

7

## 2.1 변수명 규칙

- 변수명으로 사용 가능한 문자: `소문자`(a - z), `대문자`(A - Z), `숫자`(0 - 9), `언더바`(_)
- 변수명은 숫자로 시작할 수 없음
- 변수명에서 대소문자는 서로 다른 문자로 인식. ex) dsba, DSBA
- Python 문법에 사용되는 예약어는 변수명으로 사용할 수 없음. ex) if, else, for, False, True

Python 내장 함수(built-in function)을 변수명으로 사용하는 것은 지양해야함. [ [내장함수 목록](https://wikidocs.net/32) ]

**예약어 확인 방법**
```python
import keyword

print(keyword.kwlist)
```

Python convention에 맞춰서 변수명을 지정하는 것이 좋음. [ [PEP 8 - Variable name](https://peps.python.org/pep-0008/#function-and-variable-names) ]

In [ ]:
dsba = 1
DSBA = 2
korea_univ = 'test'

In [ ]:
01012341234 = 'phone_number'

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (ipython-input-3218723789.py, line 1)

In [ ]:
False = 'wrong'

SyntaxError: cannot assign to False (ipython-input-2735641435.py, line 1)

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# 내장함수를 변수로 지정하면 내장함수를 사용할 수 없음

value = 1.23456
round(value, 4)

1.2346

In [ ]:
round = 1.23456
round(round)

TypeError: 'float' object is not callable

In [ ]:
del round

# Types

- String (str)
- Interger (int)
- Float (float)
- Bool (bool)
- None
- Tuple (tuple)
- List (list)
- Dictionary (dict)
- Set (set)

Python에서 변수의 유형(type)을 `type(변수명)`으로 확인할 수 있음

## String

문자열 변수를 뜻함. `''` 또는 `""`로 감싸진 영역은 문자열로 취급됨

In [ ]:
lab = "DSBA"
type(lab)

str

In [ ]:
# 내용은 숫자지만 '' 또는 ""로 감싸진 경우에는 문자열로 지정됨
value = "1234"
type(value)

str

In [ ]:
# str()을 통해 문자열로 바꿀 수 있음
value = 123
type(value)

int

In [ ]:
value = str(123)
type(value)

str

문자열은 서로 덧셈을 통해 합치는 것이 가능

In [ ]:
DS = 'Data Science '
BA = 'Business Analytics'
DS+BA

'Data Science Business Analytics'

문자열을 곱해서 반복할 수 있음

In [ ]:
dog = '반복되고 강조되는 문자열은 코드를 불안정하게해요. '
dog*20

'반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. 반복되고 강조되는 문자열은 코드를 불안정하게해요. '

문자열 내 ' 또는 " 이 포함된 경우 역슬래시(\)로 표현

In [ ]:
'it's not easy'

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-962635650.py, line 1)

In [ ]:
'it\'s easy'

"it's easy"

In [ ]:
"it's easy, too"

"it's easy, too"

**대표적인 문자열 functions**

- **'string'.upper()**: 모든 글자를 대문자로 치환
- **'string'.title()**: 모든 문자의 첫 글자를 대문자로 치환
- **'string'.capitalize()**: 첫 글자를 대문자로 치환
- **'string'.lower()**: 모든 글자를 소문자로 치환
- **'string'.swapcase()**: 소문자와 대문자를 서로 치환
- **'string'.count(value)**: 문자열 내 특정 값 빈도
- **'string'.find(value)**: 문자열 내 특정 값 탐색
- **'string'.split(value)**: 특정 값을 기준으로 문자열 분리
- **'string'.lstrip(object)**: 왼쪽을 기준으로 object 값 제거. Default는 공백
- **'string'.rstrip(object)**: 오른쪽을 기준으로 object 값 제거. Default는 공백
- **'string'.strip(object)**: 양쪽을 기준으로 object 값 제거. Default는 공백

In [ ]:
lab = 'data science business analytics'
lab.upper()

'DATA SCIENCE BUSINESS ANALYTICS'

In [ ]:
lab = 'data science business analytics'
lab.title()

'Data Science Business Analytics'

In [ ]:
lab = 'data science business analytics'
lab.capitalize()

'Data science business analytics'

In [ ]:
lab = 'Data Science Business Analytics'
lab.lower()

'data science business analytics'

In [ ]:
lab = 'Data Science Business Analytics'
lab.swapcase()

'dATA sCIENCE bUSINESS aNALYTICS'

In [ ]:
name = 'IIIlIIII'
name.count('I')

7

In [ ]:
name.count('l')

1

In [ ]:
name.find('l')

3

In [ ]:
name[3]

'l'

In [ ]:
lab = 'Data Science Business Analytics'
lab.split(' ') # list로 반환됨

['Data', 'Science', 'Business', 'Analytics']

In [ ]:
'    (-  _-)'.lstrip()

'(-  _-)'

In [ ]:
'(-_  -)    '.rstrip()

'(-_  -)'

In [ ]:
'    (-_-)     '.strip()

'(-_-)'

In [ ]:
'ㄹㅇㅋㅋ'.rstrip('ㅋ')

'ㄹㅇ'

In [ ]:
'ㅋㅋ뭐해?'.lstrip('ㅋ')

'뭐해?'

In [ ]:
'ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ개웃겨ㅋㅋㅋㅋㅋㅋㅋ'.strip('ㅋ')

'개웃겨'

In [ ]:
'이름: 유선호'.lstrip('이름: ')

'유선호'

## Integer

정수형 변수

In [ ]:
value = 1000
type(value)

int

In [ ]:
value = -1000
type(value)

int

In [ ]:
# int()를 통해 정수형으로 바꿀 수 있음
value = int('123')
type(value)

int

## Float

실수형 변수

In [ ]:
value = 2.71828
type(value)

float

In [ ]:
# float()를 통해 실수형으로 바꿀 수 있음
value = float('2.71828')
type(value)

float

In [ ]:
# float을 int로 변환하는 경우 소수점 첫째 자리 이하 버림이 적용됨
value = int(2.71828)
value

2

In [ ]:
# 지수(e)를 이용해서 표현 가능.
value = 1e-3 # 1e-3 == 1 * 10^{-3}
value

0.001

In [ ]:
value = 1e+3 # 1e+3 == 1 * 10^3
value

1000.0

## Bool (boolean)

논리 자료형 변수 (True, False)

In [ ]:
value = True
type(True)

bool

In [ ]:
value = False
type(value)

bool

True는 1, False는 0과 동일.  
`==`는 비교를 위한 부호. 같으면 True, 다르면 False

In [ ]:
True == 1

True

In [ ]:
True == 0

False

In [ ]:
False == 0

True

In [ ]:
False == 1

False

In [ ]:
# bool()을 통해 논리 자료형으로 바꿀 수 있음.
value = bool(0)
value

False

In [ ]:
# 단, 0이 아닌 값은 모두 True로 반환
value = bool(2)
value

True

In [ ]:
value = bool('0')
value

True

## None (NoneType)

값이 없음을 의미.

In [ ]:
value = None
type(None)

NoneType

In [ ]:
# None type은 값이 없기 때문에 출력되는 값이 없음
value

## Tuple

`(`와 `)`로 감싸진 배열. Tuple은 내부 값을 변경할 수 없음.  
Tuple 내 원소는 다양한 type 가능  
tuple((`element1`, `element2`, ...)) 또는 tuple([`element1`, `element2`, ...])와 같이 생성 가능

In [ ]:
arr = (21, 26, 27, 32, 34, 42)
type(arr)

tuple

In [ ]:
arr = tuple((21, 26, 27, 32, 34, 42))
arr

(21, 26, 27, 32, 34, 42)

In [ ]:
arr = tuple([21, 26, 27, 32, 34, 42])
arr

(21, 26, 27, 32, 34, 42)

In [ ]:
arr[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 원소가 하나인 tuple은 끝에 콤마(,)를 써야함
arr = (1,)
arr

(1,)

In [ ]:
arr = 1,
arr

(1,)

In [ ]:
arr = (1) # ,를 기입하지 않으면 tuple로 생성되지 않음
arr

1

In [ ]:
# 순서를 통해 조회 가능
arr[0]

1

In [ ]:
arr[1]

IndexError: tuple index out of range

In [ ]:
arr = (1, 'a', 1.23, False)
arr

(1, 'a', 1.23, False)

Tuple은 덧셈/곱셈 연산을 통해 반복할 수 있음

In [ ]:
arr = (1,2,3)
arr + arr

(1, 2, 3, 1, 2, 3)

In [ ]:
arr = (1,2,3)
arr + arr

(1, 2, 3, 1, 2, 3)

## List

`[`와 `]`로 감싸진 배열. List는 원소 값을 변경할 수 있음.  
List 내 원소는 다양한 type 사용 가능  
list((`element1`, `element2`, ...)) 또는 list([`element1`, `element2`, ...])와 같이 생성 가능

In [ ]:
arr = [21, 26, 27, 32, 34, 42]
type(arr)

list

In [ ]:
arr = list([21, 26, 27, 32, 34, 42])
arr

[21, 26, 27, 32, 34, 42]

In [ ]:
arr = list((21, 26, 27, 32, 34, 42))
arr

[21, 26, 27, 32, 34, 42]

In [ ]:
arr[0]

21

In [ ]:
arr[0] = 10
arr[0]

10

In [ ]:
arr = [1, 'a', (1,2)]
arr

[1, 'a', (1, 2)]

List는 덧셈/곱셈 연산을 통해 반복할 수 있음

In [ ]:
arr = [1,2,3]
arr + arr

[1, 2, 3, 1, 2, 3]

In [ ]:
arr * 2

[1, 2, 3, 1, 2, 3]

## Dictionary

`Key`와 `Value`가 맵핑되어 있는 집합. `Key`는 바꿀 수 없지만 `Value`는 변경 가능함.  
{`key`: `value`} 또는 dict([(`key`, `value`)]) 와 같이 생성.  
`Value`는 다양한 type 가능.

In [ ]:
values = {'lotto_number': [21, 26, 27, 32, 34, 42], 'date': 20230826}
type(values)

dict

In [ ]:
values = dict([('lotto_number', [21, 26, 27, 32, 34, 42]), ('date', 20230826)])
values

{'lotto_number': [21, 26, 27, 32, 34, 42], 'date': 20230826}

In [ ]:
# Key를 통해 value를 조회할 수 있음
key = 'lotto_number'
values[key]

[21, 26, 27, 32, 34, 42]

In [ ]:
new_key = 'bonus number'
new_value = 31
values[new_key] = new_value
values

{'lotto_number': [21, 26, 27, 32, 34, 42],
 'date': 20230826,
 'bonus number': 31}

## Set

수학에서의 집합 개념과 동일. Unique 원소를 반환함.   
원소는 list와 dictionary와 같이 가변적인 유형을 제외하고 가능함.

In [ ]:
values = {1,1,2,2,3,3}
type(values)

set

In [ ]:
values = set([1,1,2,2,3,3])
values

{1, 2, 3}

In [ ]:
values = {'D','D','S','S','B','B','A','A','a'}
values

{'A', 'B', 'D', 'S', 'a'}

In [ ]:
values = {123, 'qwer', (1,2)}
values

{(1, 2), 123, 'qwer'}

In [ ]:
values = {123, [1,2]}

TypeError: unhashable type: 'list'

In [ ]:
values = {1,2,3, {'a':1}}

TypeError: unhashable type: 'dict'

# Indexing & Slicing

Python에서는 list와 tuple과 같은 배열에서 특정 값을 조회하거나 특정 값들을 잘라내는 방법이 있음.

In [ ]:
values = [0,1,2,3,4,5,6,7,8,9]

## Indexing

Python에서 index는 0부터 시작함.

In [ ]:
values[0]

0

In [ ]:
values[2]

2

In [ ]:
values[10]

IndexError: list index out of range

In [ ]:
# 음수를 넣어서 뒤에서 부터 index를 조회하는 것도 가능
values[-1]

9

문자열도 index 조회가 가능

In [ ]:
name = 'abcdefg'
name[0]

'a'

In [ ]:
name[-1]

'g'

## Slicing

Slicing은 `:`을 통해 특정 index까지의 값을 조회함. ex) `start index: end index`  또는 `start index: end index: interval`  
`::`을 통해 특정 간격을 기준으로 값을 조회할 수 있음. `start index::interval`

In [ ]:
values[2:6]

[2, 3, 4, 5]

In [ ]:
values[1:8:2]

[1, 3, 5, 7]

In [ ]:
# ":index" 는 index 0부터 index 5까지를 의미함
values[:5]

[0, 1, 2, 3, 4]

In [ ]:
# 반대로도 가능
values[-5:-2]

[5, 6, 7]

In [ ]:
values[-5:]

[5, 6, 7, 8, 9]

In [ ]:
# `::`을 통해 특정 간격 마다 조회 가능
values[::2]

[0, 2, 4, 6, 8]

In [ ]:
values[1::2]

[1, 3, 5, 7, 9]

In [ ]:
values[-4::2]

[6, 8]

In [ ]:
values[-4::]

[6, 7, 8, 9]

In [ ]:
values[::2][:3]

[0, 2, 4]

문자열도 slicing 가능

In [ ]:
name = 'abcdefg'
name[:4]

'abcd'

# Arithmetic operators

- add : `+`
- minus : `-`
- division : `/`
- share: `//`
- remainder: `%`
- multiplication: `*`
- square: `**`

In [ ]:
a = 1
b = 2
add_ab = a + b
add_ab

3

In [ ]:
# python에서는 arithmetic operators와 define을 함께 할 수 있음
sum_value = 1
sum_value += 2
sum_value

3

In [ ]:
a = 1
b = 2
minus_ab = a - b
minus_ab

-1

In [ ]:
a = 1
b = 3
divide_ab = a / b
divide_ab

0.3333333333333333

In [ ]:
a = 5
b = 2
share_ab = a // b
share_ab

2

In [ ]:
a = 5
b = 2
remainder_ab = a % b
remainder_ab

1

In [ ]:
a = 5
b = 2
multiply_ab = a * b
multiply_ab

10

In [ ]:
a = 5
b = 2
square_ab = a ** b
square_ab

25

# Basic built-in functions

Python built-in functions [ [link](https://www.w3schools.com/python/python_ref_functions.asp) ]

- len(object) : 변수의 길이를 확인
- range(start, stop, step) : 배열을 생성
- round(number, digits) : 반올림. degits default value is 0
- sorted(iterable, key, reverse): iterable 변수 정렬
- zip(*iterable): iterable 변수를 묶음
- id(object) : 변수의 주소를 확인
- isinstance(object, type): 변수의 type이 맞는지 확인

\+ del : 변수를 삭제

len(): 변수의 길이를 확인

In [ ]:
value = '1234'
len(value)

4

In [ ]:
value = 1234
len(value) # int or float type은 길이를 잴 수 없음

TypeError: object of type 'int' has no len()

In [ ]:
arr = [1,2,3]
len(arr)

3

In [ ]:
values = {'a':1, 'b':[1,2], 'c':{1,2,3,3}}
len(values) # dictionary는 key 개수를 길이로 반환함

3

range(start, stop, step) : 배열을 생성

In [ ]:
range(10) # argument를 하나만 입력하면 입력한 크기만큼 0부터 배열을 반환함

range(0, 10)

In [ ]:
list(range(10)) # list를 사용하는 경우 반환된 배열을 list로 반환함

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10)) # argument를 두 개 입력한 경우 첫 번째 argument로 입력한 값부터 1씩 두 번째 argument로 입력한 값 전까지 반환함

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10,2)) # start, stop, step

[2, 4, 6, 8]

round() : 반올림

In [ ]:
round(1.234)

1

In [ ]:
round(1.234, 2)

1.23

sorted(iterable, key, reverse): iterable 변수 정렬

In [ ]:
arr = [4,2,3,6]
sorted(arr) # default는 오름차순 정렬

[2, 3, 4, 6]

In [ ]:
sorted(arr, reverse=True)

[6, 4, 3, 2]

In [ ]:
arr = ['굳','낫벧','감사합니다', '참말로 감사합니다']
sorted(arr)

['감사합니다', '굳', '낫벧', '참말로 감사합니다']

In [ ]:
sorted(arr, key=len)

['굳', '낫벧', '감사합니다', '참말로 감사합니다']

In [ ]:
sorted(arr, key=len, reverse=True)

['참말로 감사합니다', '감사합니다', '낫벧', '굳']

zip(*iterable): iterable 변수를 묶음 (반복 가능 변수)

In [ ]:
arr1 = (1,2,3)
arr2 = ('a','b','c')
zip(arr1, arr2)

In [ ]:
list(zip(arr1, arr2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
dict(zip(arr1, arr2))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
list(zip('1234','abcd'))

[('1', 'a'), ('2', 'b'), ('3', 'c'), ('4', 'd')]

In [ ]:
list(zip('1234','abcdefg')) # 길이가 맞지 않는 경우 짧은 길이에 맞춰서 매칭

[('1', 'a'), ('2', 'b'), ('3', 'c'), ('4', 'd')]

id() : 변수의 주소를 확인

In [ ]:
name = 'Jaehyuk Heo'
id(name)

132746727158256

In [ ]:
name2 = 'Jaehyuk Heo'
id(name2)

132746727160496

In [ ]:
# 가변 타입의 경우 두 변수가 같은 주소를 가질 때, 한 변수가 값이 바뀌면 같은 주소를 가지는 다른 변수도 값이 바뀜
arr = [1,2,3,4]
new_arr = arr
id(arr)

132746727161408

In [ ]:
id(new_arr)

132746727161408

In [ ]:
new_arr[0] = 10
new_arr

[10, 2, 3, 4]

In [ ]:
arr

[10, 2, 3, 4]

In [ ]:
name = name2 = 'Jaehyuk Heo'
id(name)

132746727196976

In [ ]:
id(name2)

132746727196976

In [ ]:
name2[0] = 's'

TypeError: 'str' object does not support item assignment

isinstance(object, type): 변수의 type이 맞는지 확인. 맞다면 `True` 틀리면 `False`로 반환됨

In [ ]:
isinstance('123', str)

True

In [ ]:
isinstance('123', int)

False

del: 변수를 삭제

In [ ]:
value = '1234'
value

'1234'

In [ ]:
del value
value

NameError: name 'value' is not defined

# 출력 (print)

- 주피터노트북의 경우 한 줄 짜리는 print함수를 사용하지 않아도 출력 가능

In [ ]:
'오'

'오'

- 그러나 여러 줄이 있는 경우 마지막 결과만 출력

In [ ]:
'내가'
'뭐라고'
'했게'

'했게'

In [ ]:
print('오늘 수업')
print('재미 없어서')
'힘들지만 끝까지 듣고'
print('집에 가야지')

오늘 수업
재미 없어서
집에 가야지

- 가장 기본적으로 사용하는 print() 함수는 여러 값을 쉼표(,)로 구분 가능

In [ ]:
eng = 'watch'
print('시계는 영어로', eng)

시계는 영어로 watch

In [ ]:
eng1 = 'watch'
eng2 = 'church'
print('시계는 영어로', eng1, '교회는 영어로', eng2)

시계는 영어로 watch 교회는 영어로 church

## % operation

출력 문자열과 변수를 `%`를 통해 구분하여 작성할 수 있음
- 변수 타입에 따라 다른 타입으로 `%`를 사용해야함. ex) string - %s, integer - %d, float - %f

In [ ]:
eng1 = 'watch'
eng2 = 'church'
print('시계는 영어로 %s 교회는 영어로 %s' % (eng1, eng2))

시계는 영어로 watch 교회는 영어로 church

In [ ]:
year = 2025
print('올해는 %d년 입니다.' % year)

올해는 2025년 입니다.

In [ ]:
# %를 % operation 에서 문자열로 사용할 때는 %% 두 번 작성
value = 1/3
print('1 %% 3 = %f' % value)

1 % 3 = 0.333333

In [ ]:
# 타입이 안맞으면 에러가 발생
name = 'Iron Man'
print('type(value): ',type(value))
print('I am %d' % name)

type(value):  <class 'float'>

TypeError: %d format: a real number is required, not str

출력 값에 대한 자리 수를 조정할 수 있음

In [ ]:
# 반올림이 적용됨
value = 1234.5678
print('number: %.1f' % value)
print('number: %.2f' % value)
print('number: %.3f' % value)

number: 1234.6
number: 1234.57
number: 1234.568

In [ ]:
print('number: %8.1f' % value)
print('number: %8.2f' % value)
print('number: %8.3f' % value)

number:   1234.6
number:  1234.57
number: 1234.568

In [ ]:
print('number: %3d' % 1)
print('number: %3d' % 12)
print('number: %3d' % 123)

number:   1
number:  12
number: 123

In [ ]:
print('number: %03d' % 1)
print('number: %03d' % 12)
print('number: %03d' % 123)

number: 001
number: 012
number: 123

## str.format

- `Python 3` 부터 사용 가능
- type을 지정하지 않아도 됨 (당연히 type을 지정할 수도 있음)
- 입력 순서를 지정할 수 있음
- 변수를 지정하여 원하는 곳에 지정할 수 있음
- `% operation` 과 마찬가지로 type 및 자리수를 조정할 수 있음
- `str.format`을 활용하여 출력하고자 하는 변수를 보다 깔끔하게 정리할 수 있다

In [ ]:
eng1 = 'watch'
eng2 = 'church'
print('시계는 영어로 {} 교회는 영어로 {}'.format(eng1, eng2))

시계는 영어로 watch 교회는 영어로 church

In [ ]:
# 입력 순서를 지정할 수 있음
print('시계는 영어로 {0} 교회는 영어로 {1}'.format(eng1, eng2))
print('시계는 영어로 {1} 교회는 영어로 {0}'.format(eng1, eng2))

시계는 영어로 watch 교회는 영어로 church
시계는 영어로 church 교회는 영어로 watch

In [ ]:
# 변수를 통해 원하는 곳에 지정할 수 있음
print('시계는 영어로 {watch} 교회는 영어로 {church}'.format(eng1, eng2))

KeyError: 'watch'

In [ ]:
# % operation 과 마찬가지로 type 및 자리수를 조정할 수 있음. 이때 변수명과 `:`를 통해 구분하여 작성
print('number: {value:3d}'.format(value=1))
print('number: {value:3d}'.format(value=12))
print('number: {value:3d}'.format(value=123))

number:   1
number:  12
number: 123

In [ ]:
# dictionary를 사용하여 **를 통해 변수명과 key를 매칭하여 value를 삽입
eng = {
    'eng1' : 'watch',
    'eng2' : 'church'
}
print('시계는 영어로 {eng1} 교회는 영어로 {eng2}'.format(**eng))

시계는 영어로 watch 교회는 영어로 church

## f-string

- Python 3.6 이상부터 사용
- `str.format` 보다 더 간결하게 사용 가능
- `% operation` 과 마찬가지로 type 및 자리수를 조정할 수 있음

In [ ]:
eng1 = 'watch'
eng2 = 'church'
print(f'시계는 영어로 {eng1} 교회는 영어로 {eng2}')

시계는 영어로 watch 교회는 영어로 church

In [ ]:
# % operation 과 마찬가지로 type 및 자리수를 조정할 수 있음. 이때 변수명과 `:`를 통해 구분하여 작성
print(f'number: {1:3d}')
print(f'number: {12:3d}')
print(f'number: {123:3d}')

value=1234.5678
print(f'number: {value:8.1f}')
print(f'number: {value:8.2f}')
print(f'number: {value:8.3f}')

number:   1
number:  12
number: 123
number:   1234.6
number:  1234.57
number: 1234.568

## Print arguments

In [ ]:
# line 건너띄기 위해서는 `\n` 사용
print('아빠가\n방에\n들어가신다')

아빠가
방에
들어가신다

In [ ]:
# tab으로 띄어쓰기를 하기 위해서는 `\t` 사용
print('퐁\t당\t퐁\t당')

퐁	당	퐁	당

In [ ]:
# print 함수 내 `,`로 구분 된 단어 사이에 sep로 지정한 값이 들어감
print('퐁','당','퐁','당', sep='\t')
print('','리','리','라셩','라리','라', sep='얄')

퐁	당	퐁	당
얄리얄리얄라셩얄라리얄라

In [ ]:
print('내말 아직 ', end='')
print('안끝났어')

내말 아직 안끝났어

In [ ]:
print('자 다음으로 ', end='\n')
print('넘어가 볼까요')

자 다음으로
넘어가 볼까요