# Tuple

`(`와 `)`로 감싸진 배열. Tuple은 내부 값을 변경할 수 없음.  
Tuple 내 원소는 다양한 type 가능  
tuple((`element1`, `element2`, ...)) 또는 tuple([`element1`, `element2`, ...])와 같이 생성 가능

In [ ]:
arr = (21, 26, 27, 32, 34, 42)
type(arr)

tuple

In [ ]:
arr = tuple((21, 26, 27, 32, 34, 42))
arr

(21, 26, 27, 32, 34, 42)

In [ ]:
arr = tuple([21, 26, 27, 32, 34, 42])
arr

(21, 26, 27, 32, 34, 42)

In [ ]:
arr[0] = 10

TypeError: ignored

In [ ]:
# 원소가 하나인 tuple은 끝에 콤마(,)를 써야함
arr = (1,)
arr

(1,)

In [ ]:
arr = 1,
arr

(1,)

In [ ]:
arr = (1) # ,를 기입하지 않으면 tuple로 생성되지 않음
arr

1

In [ ]:
# 순서를 통해 조회 가능
arr[0]

TypeError: ignored

In [ ]:
arr[1]

TypeError: ignored

In [ ]:
arr = (1, 'a', 1.23, False)
arr

Tuple은 덧셈/곱셈 연산을 통해 반복할 수 있음

In [ ]:
arr = (1,2,3)
arr + arr

(1, 2, 3, 1, 2, 3)

In [ ]:
arr = (1,2,3)
arr + arr

(1, 2, 3, 1, 2, 3)

Tuple은 값이 바뀌지 않아야하는 경우 주로 사용.
ex) hyper-parameters

In [ ]:
image_size = (224,224)

# List

`[`와 `]`로 감싸진 배열. List는 원소 값을 변경할 수 있음.  
List 내 원소는 다양한 type 사용 가능  
list((`element1`, `element2`, ...)) 또는 list([`element1`, `element2`, ...])와 같이 생성 가능

In [ ]:
arr = [21, 26, 27, 32, 34, 42]
type(arr)

list

In [ ]:
arr = list([21, 26, 27, 32, 34, 42])
arr

[21, 26, 27, 32, 34, 42]

In [ ]:
arr = list((21, 26, 27, 32, 34, 42))
arr

[21, 26, 27, 32, 34, 42]

In [ ]:
arr[0]

21

In [ ]:
arr[0] = 10
arr[0]

10

In [ ]:
arr = [1, 'a', (1,2)]
arr

[1, 'a', (1, 2)]

List는 덧셈/곱셈 연산을 통해 반복할 수 있음

In [ ]:
arr = [1,2,3]
arr + arr

[1, 2, 3, 1, 2, 3]

In [ ]:
arr * 2

[1, 2, 3, 1, 2, 3]

## List functions

- `.append(object)`: 리스트에 원소 추가
- `.extend(iterable)`: 리스트 확장하기
- `.sort(key, reverse)`: 리스트 정렬
- `.reverse()`: 리스트 뒤집기
- `.index(object)`: 리스트에 있는 원소의 index 찾기
- `.insert(index, object)`: 리스트 내 지정한 index로 원소 삽입
- `.remove(object)`: 리스트 내 특정 index의 원소 제거
- `.pop(index)`: 리스트 원소 꺼내고 지우기
- `.count(object)`: 리스트 내 특정 원소 빈도

In [ ]:
# `.append(object)`: 리스트에 원소 추가
mat_zip = ['어머니 대성집', '돈냉면']
print(f'Before append: {mat_zip}')

mat_zip.append('전주 외할머니댁')
print(f'After append: {mat_zip}')

Before append: ['어머니 대성집', '돈냉면']
After append: ['어머니 대성집', '돈냉면', '전주 외할머니댁']

In [ ]:
# `.extend(iterable)`: 리스트 확장하기
mat_zip = ['어머니 대성집', '돈냉면', '전주 외할머니댁']
print(f'Before extend: {mat_zip}')

mat_zip.extend(['와가리피순대', '한상차림밥상'])
print(f'After extend: {mat_zip}')

Before extend: ['어머니 대성집', '돈냉면', '전주 외할머니댁']
After extend: ['어머니 대성집', '돈냉면', '전주 외할머니댁', '와가리피순대', '한상차림밥상']

In [ ]:
# `.sort(key, reverse)`: 리스트 정렬. default key는 None, default reverse는 False
names = ['남도일','홍장미','유미란','유명한','브라운']
print(f'Before sort: {names}')

names.sort()
print(f'After sort: {names}')

Before sort: ['남도일', '홍장미', '유미란', '유명한', '브라운']
After sort: ['남도일', '브라운', '유명한', '유미란', '홍장미']

In [ ]:
# `.sort(reverse=True)`: 리스트 정렬 (reverse)
names = ['남도일','홍장미','유미란','유명한','브라운']
print(f'Before reverse sort: {names}')

names.sort(reverse=True)
print(f'After reverse sort(reverse=True): {names}')

Before reverse sort: ['남도일', '홍장미', '유미란', '유명한', '브라운']
After reverse sort(reverse=True): ['홍장미', '유미란', '유명한', '브라운', '남도일']

In [ ]:
# `.sort(key, reverse)`: 리스트 정렬 (key)
names = ['쿠도 신이치','하이바라 아이','모리 란','모리 코고로','아가사 히로시']
print(f'Before sort: {names}')

names.sort(key=len)
print(f'After sort(key=len): {names}')

Before sort: ['쿠도 신이치', '하이바라 아이', '모리 란', '모리 코고로', '아가사 히로시']
After sort(key=len): ['모리 란', '쿠도 신이치', '모리 코고로', '하이바라 아이', '아가사 히로시']

In [ ]:
# `.reverse()`: 리스트 뒤집기
happy = ['나', '나', '끝', '제', '언', '업', '수']
print(f'Before reverse: {happy}')

happy.reverse()
print(f'After reverse: {happy}')

Before reverse: ['나', '나', '끝', '제', '언', '업', '수']
After reverse: ['수', '업', '언', '제', '끝', '나', '나']

In [ ]:
# `.index(object)`: 리스트에 있는 원소의 index 찾기
inputs = ['[CLS]','오늘 저녁은 뭐먹지.','[SEP]','저녁은 카레먹어야지.','[PAD]']
sep_idx = inputs.index('[SEP]')

print(f"inputs.index('[SEP]') : {sep_idx}")
print(f'inputs[{sep_idx}]: {inputs[sep_idx]}')

inputs.index('[SEP]') : 2
inputs[2]: [SEP]

In [ ]:
# `.insert(index, object)`: 리스트 내 지정한 index로 원소 삽입
inputs = ['코딩은','정말','쉽다']
value = '포기하기'
print(f'Before insert: {inputs}')
inputs.insert(2, value)

print(f'After insert: {inputs}')

Before insert: ['코딩은', '정말', '쉽다']
After insert: ['코딩은', '정말', '포기하기', '쉽다']

In [ ]:
# `.remove(object)`: 리스트 내 특정 index의 원소 제거
inputs = ['어','이','가','없','네']
print(f"Before remove('이'): {inputs}")
inputs.remove('이')

print(f"After remove('이'): {inputs}")

Before remove('이'): ['어', '이', '가', '없', '네']
After remove('이'): ['어', '가', '없', '네']

In [ ]:
# 동일한 원소가 여러 개 있는 경우 가장 앞 원소만 삭제됨
inputs = ['간장','공장','공장장','강','공장장']
print(f"Before remove('공장장'): {inputs}")
inputs.remove('공장장')

print(f"After remove('공장장'): {inputs}")

Before remove('공장장'): ['간장', '공장', '공장장', '강', '공장장']
After remove('공장장'): ['간장', '공장', '강', '공장장']

In [ ]:
# `.pop(index)`: 리스트 원소 꺼내고 지우기
inputs = ['어','이','가','없','네']
print(f"Before pop(1): {inputs}")
value = inputs.pop(1)

print(f"After pop(1): {inputs}")
print(f"value: {value}")

Before pop(1): ['어', '이', '가', '없', '네']
After pop(1): ['어', '가', '없', '네']
value: 이

In [ ]:
# `.count(object)`: 리스트 내 특정 원소 빈도
scores = ['A+','A+','A','A+','A+','A+','A']
print(f"The number of A+ in scores: {scores.count('A+')}")

The number of A+ in scores: 5

## Dictionary

`Key`와 `Value`가 맵핑되어 있는 집합. `Key`는 바꿀 수 없지만 `Value`는 변경 가능함.  
{`key`: `value`} 또는 dict([(`key`, `value`)]) 와 같이 생성.  
`Value`는 다양한 type 가능.

In [ ]:
values = {'lotto_number': [21, 26, 27, 32, 34, 42], 'date': 20230826}
type(values)

dict

In [ ]:
values = dict([('lotto_number', [21, 26, 27, 32, 34, 42]), ('date', 20230826)])
values

{'lotto_number': [21, 26, 27, 32, 34, 42], 'date': 20230826}

In [ ]:
# Key를 통해 value를 조회할 수 있음
key = 'lotto_number'
values[key]

[21, 26, 27, 32, 34, 42]

In [ ]:
new_key = 'bonus number'
new_value = 31
values[new_key] = new_value
values

{'lotto_number': [21, 26, 27, 32, 34, 42],
 'date': 20230826,
 'bonus number': 31}

## Dictionary functions

- `.keys()`: key 리스트 반환
- `.values()`: value 리스트 반환
- `.items()`: (key, value) 리스트 반환
- `.get()`: key로 value 조회
- `.update(dict)`: dictionary 업데이트
- `.clear()`: key, value 모두 삭제

In [ ]:
kor_names = ['남도일','홍장미','유미란','유명한','브라운']
jpn_names = ['쿠도 신이치','하이바라 아이','모리 란','모리 코고로','아가사 히로시']
names = dict(zip(kor_names, jpn_names))
names

{'남도일': '쿠도 신이치',
 '홍장미': '하이바라 아이',
 '유미란': '모리 란',
 '유명한': '모리 코고로',
 '브라운': '아가사 히로시'}

In [ ]:
# `.keys()`: key 리스트 반환
names.keys()

dict_keys(['남도일', '홍장미', '유미란', '유명한', '브라운'])

In [ ]:
# `.values()`: value 리스트 반환
names.values()

dict_values(['쿠도 신이치', '하이바라 아이', '모리 란', '모리 코고로', '아가사 히로시'])

In [ ]:
# `.items()`: (key, value) 리스트 반환
names.items()

dict_items([('남도일', '쿠도 신이치'), ('홍장미', '하이바라 아이'), ('유미란', '모리 란'), ('유명한', '모리 코고로'), ('브라운', '아가사 히로시')])

In [ ]:
# `.get()`: key로 value 조회
names.get('남도일')

'쿠도 신이치'

In [ ]:
# `.update(dict)`: dictionary 업데이트
names.update([('박세모','츠부라야 마츠히코'), ('한아름','요시다 아유미')])
names

{'남도일': '쿠도 신이치',
 '홍장미': '하이바라 아이',
 '유미란': '모리 란',
 '유명한': '모리 코고로',
 '브라운': '아가사 히로시',
 '박세모': '츠부라야 마츠히코',
 '한아름': '요시다 아유미'}

In [ ]:
names.update({'고뭉치':'코지마 겐타'})
names

{'남도일': '쿠도 신이치',
 '홍장미': '하이바라 아이',
 '유미란': '모리 란',
 '유명한': '모리 코고로',
 '브라운': '아가사 히로시',
 '박세모': '츠부라야 마츠히코',
 '한아름': '요시다 아유미',
 '고뭉치': '코지마 겐타'}

In [ ]:
# 기존 key의 value를 update 할 수 있음
names.update({'남도일':'에도가와 코난'})
names

{'남도일': '에도가와 코난',
 '홍장미': '하이바라 아이',
 '유미란': '모리 란',
 '유명한': '모리 코고로',
 '브라운': '아가사 히로시',
 '박세모': '츠부라야 마츠히코',
 '한아름': '요시다 아유미',
 '고뭉치': '코지마 겐타'}

In [ ]:
# `.clear()`: key, value 모두 삭제
names.clear()
names

{}

# Set

수학에서의 집합 개념과 동일. Unique 원소를 반환함.   
원소는 list와 dictionary와 같이 가변적인 유형을 제외하고 가능함.

In [ ]:
values = {1,1,2,2,3,3}
type(values)

set

In [ ]:
values = set([1,1,2,2,3,3])
values

{1, 2, 3}

In [ ]:
values = {'D','D','S','S','B','B','A','A','a'}
values

{'A', 'B', 'D', 'S', 'a'}

In [ ]:
values = {123, 'qwer', (1,2)}
values

{(1, 2), 123, 'qwer'}

In [ ]:
values = {123, [1,2]}

TypeError: ignored

In [ ]:
values = {1,2,3, {'a':1}}

TypeError: ignored

## Set functions

- `.add(object)`: 값 추가
- `.update(set)`: 값들 추가
- `.remove(object)`: 특정 값 제거
- `.remove(object)`: 집합 내 object 제거
- `.discard(object)`: 집합에 object가 존재하면 제거
- `.clear()`: 전체 집합 제거

In [ ]:
# `.add(object)`: 값 추가
class1_students = {'영철','상철','정숙','순자','옥순','광수'}
print(f'Before add: {class1_students}')

class1_students.add('영식')
print(f'After add: {class1_students}')

Before add: {'순자', '광수', '옥순', '정숙', '상철', '영철'}
After add: {'순자', '광수', '옥순', '영식', '정숙', '상철', '영철'}

In [ ]:
# `.update(set)`: 값들 추가
class1_students = {'영철','상철','정숙','순자','옥순','광수'}
print(f'Before update: {class1_students}')

class1_students.update({'영식','영수'})
print(f"After update({'영식','영수'}): {class1_students}")

class1_students.update(['영식','현수'])
print(f"After update(['영식', '현수']): {class1_students}")

Before update: {'순자', '광수', '옥순', '정숙', '상철', '영철'}
After update(('영식', '영수')): {'순자', '광수', '옥순', '영수', '영식', '정숙', '상철', '영철'}
After update(['영식', '현수']): {'옥순', '정숙', '광수', '상철', '영수', '영철', '순자', '현수', '영식'}

In [ ]:
# `.remove(object)`: 특정 값 제거
class1_students = {'영철','상철','정숙','순자','옥순','광수'}
print(f'Before remove: {class1_students}')

class1_students.remove('영철')
print(f"After remove('영철'): {class1_students}")

Before remove: {'순자', '광수', '옥순', '정숙', '상철', '영철'}
After remove('영철'): {'순자', '광수', '옥순', '정숙', '상철'}

In [ ]:
# `.discard(object)`: 집합에 object가 존재하면 제거
class1_students = {'영철','상철','정숙','순자','옥순','광수'}
print(f'Before remove: {class1_students}')

class1_students.discard('영철')
print(f"After discard('영철'): {class1_students}")

class1_students.discard('재혁')
print(f"After discard('재혁'): {class1_students}")

Before remove: {'순자', '광수', '옥순', '정숙', '상철', '영철'}
After discard('영철'): {'순자', '광수', '옥순', '정숙', '상철'}
After discard('재혁'): {'순자', '광수', '옥순', '정숙', '상철'}

In [ ]:
class1_students.remove('재혁') # remove는 값이 없는 경우 에러 발생

KeyError: ignored

In [ ]:
# `.clear()`: 전체 집합 제거
class1_students.clear()
print(f'class1_students: {class1_students}')

class1_students: set()

## *Intersection*, Union, Difference

- Intersection: $A \cap B$
- Union: $A \cup B$
- Difference: $A - B$
- Symmetric difference: $A \triangle B = A \cup B - A \cap B$

In [ ]:
class1_students = {'영철','상철','정숙','순자','옥순','광수'}
class2_students = {'영수','정숙','순자','현숙','광수','상철','영식','영호'}

In [ ]:
# Intersection
class1_students.intersection(class2_students)

{'광수', '상철', '순자', '정숙'}

In [ ]:
class1_students & class2_students

{'광수', '상철', '순자', '정숙'}

In [ ]:
# Union
class1_students.union(class2_students)

{'광수', '상철', '순자', '영수', '영식', '영철', '영호', '옥순', '정숙', '현숙'}

In [ ]:
class1_students | class2_students

{'광수', '상철', '순자', '영수', '영식', '영철', '영호', '옥순', '정숙', '현숙'}

In [ ]:
# Difference
class1_students.difference(class2_students)

{'영철', '옥순'}

In [ ]:
class1_students - class2_students

{'영철', '옥순'}

In [ ]:
class2_students.difference(class1_students)

{'영수', '영식', '영호', '현숙'}

In [ ]:
class2_students - class1_students

{'영수', '영식', '영호', '현숙'}

In [ ]:
# Symmetric difference
class1_students.symmetric_difference(class2_students)

{'영수', '영식', '영철', '영호', '옥순', '현숙'}