# while

condition이 `True`면 계속 반복 됨

**example**
```python
while condition:
    pass
```

In [ ]:
s = 0
while s < 10:
    s += 1
    print('s: ',s)

In [ ]:
step = 0
total_step = 10
is_train = True

while is_train:
    if step == total_step:
        is_train = False

    print(f'{step}/{total_step}')
    step += 1

## break

반복문 중간에 break가 있는 경우 반복문을 중단하고 빠져나옴

In [ ]:
s = 0
stop_n = 5
while True:
    if s > stop_n:
        break

    print('s: ',s)
    s += 1

In [ ]:
step = 0
total_step = 10
is_train = True

while is_train:
    # break
    if step == 5:
        print('Stop!')
        break

    if step == total_step:
        is_train = False

    print(f'{step}/{total_step}')
    step += 1

## continue

반복문 중간에 continue가 있는 경우 현재 반복하던 내용은 건너띄고 다음 반복으로 넘어감

In [ ]:
s = 0
while s < 10:
    s += 1

    # continue
    if s % 2 == 0:
        continue

    print('s: ',s)

# for

iterable 객체가 하나씩 반환되어 for문 안 내용을 실행

**example**

```python
for i in iterable:
    pass
```

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    print('*' * (i+1))

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
n = 10
for i in range(n):
    if i < (n//2):
        print('*' * (i+1))
    else:
        print('*' * (n-i))

*
**
***
****
*****
*****
****
***
**
*

In [ ]:
even_odd = []
for i in range(10):
    if i % 2 == 0:
        even_odd.append('even')
    else:
        even_odd.append('odd')

print('even_odd: ',even_odd)

even_odd:  ['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

## Nested loops

$$\sum_i^N \sum_j^M x_iy_j$$

In [ ]:
x = [1,2,3]
y = [2,2,2]

s = 0
for x_i in x:
    for y_j in y:
        s += x_i*y_j

print('s: ',s)

s:  36

In [ ]:
kor_names = ['남도일','홍장미','유미란','유명한','브라운']
jpn_names = ['쿠도 신이치','하이바라 아이','모리 란','모리 코고로','아가사 히로시']
names = dict(zip(kor_names, jpn_names))

names

{'남도일': '쿠도 신이치',
 '홍장미': '하이바라 아이',
 '유미란': '모리 란',
 '유명한': '모리 코고로',
 '브라운': '아가사 히로시'}

In [ ]:
for kor_name, jpn_name in names.items():
    print(f'{kor_name}: {jpn_name}')

남도일: 쿠도 신이치
홍장미: 하이바라 아이
유미란: 모리 란
유명한: 모리 코고로
브라운: 아가사 히로시

In [ ]:
find_names = ['남도일','브라운']

for f_name in find_names:
    print(f'{f_name}: {names[f_name]}')

남도일: 쿠도 신이치
브라운: 아가사 히로시

In [ ]:
for pair in zip([1,2,3], ['a','b','c']):
    print(pair)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
for n, s in zip([1,2,3], ['a','b','c']):
    print(f'{n}, {s}')

1, a
2, b
3, c

## Iterators

In [ ]:
alphabet = iter(['a','b','c','d'])

print('next(alphabet): ',next(alphabet))
print('next(alphabet): ',next(alphabet))
print('next(alphabet): ',next(alphabet))
print('next(alphabet): ',next(alphabet))
print('next(alphabet): ',next(alphabet))

next(alphabet):  a
next(alphabet):  b
next(alphabet):  c
next(alphabet):  d

StopIteration:

## enumerate

In [ ]:
alphabet = ['a','b','c','d','e']
for i, s in enumerate(alphabet):
    print(f'{i}: {s}')

0: a
1: b
2: c
3: d
4: e

In [ ]:
kor_names = ['남도일','홍장미','유미란','유명한','브라운']
jpn_names = ['쿠도 신이치','하이바라 아이','모리 란','모리 코고로','아가사 히로시']
names = dict(zip(kor_names, jpn_names))

for i, (kor_name, jpn_name) in enumerate(names.items()):
    print(f'{i} - {kor_name}: {jpn_name}')

0 - 남도일: 쿠도 신이치
1 - 홍장미: 하이바라 아이
2 - 유미란: 모리 란
3 - 유명한: 모리 코고로
4 - 브라운: 아가사 히로시

## List comprehension

- 리스트를 반환하는 for 반복문을 한 줄에 작성하는 방식
- 일반 for문과 동일하지만 최적화가 잘 되어있음

**Example 1**

```python
square_values = []
for i in range(10):
    square_values.append(2 ** i)
print('square_values: ',square_values)
```

In [ ]:
square_values = [2 ** i for i in range(10)]
print('square_values: ',square_values)

square_values:  [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

**Example 2**

```python
square_values = []
for i in range(10):
    if i % 2 == 0:
        square_values.append(2 ** i)
print('square_values: ',square_values)
```

In [ ]:
square_values = [2 ** i for i in range(10) if i % 2 == 0]
print('square_values: ',square_values)

square_values:  [1, 4, 16, 64, 256]

**Example 3**
```python
pair_list = []
for i in range(3):
    for j in range(2):
        pair_list.append([i, j])
print('pair_list: ',pair_list)
```

In [ ]:
pair_list = [[i, j] for i in range(3) for j in range(2)]
print('pair_list: ',pair_list)

pair_list:  [[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1]]

**Example 4**

```python
pair_in_list = []
for i in range(2):
    pair_list = []
    for j in range(3):
        pair_list.append([i, j])
    pair_in_list.append(pair_list)
print('pair_in_list: ',pair_in_list)
```

In [ ]:
pair_in_list = [[[i, j] for j in range(3)] for i in range(2)]
print('pair_in_list: ',pair_in_list)

pair_in_list:  [[[0, 0], [0, 1], [0, 2]], [[1, 0], [1, 1], [1, 2]]]